
/* Animaciones y transiciones de la segunda sección*/
.tracking-in-expand {
animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2 both;
color: deeppink;
}

@keyframes tracking-in-expand {
  0% {
          letter-spacing: -0.5em;
          opacity: 0;
  }
  40% {
      opacity: 0.6;
  }
  100% {
  opacity: 1;
  }
}
.text-pop-up-tr {
animation: text-pop-up-tr 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 both;
  text-align: center;
}

@keyframes text-pop-up-tr {
  0% {
      transform: translateY(0) translateX(0);
      transform-origin: 50% 50%;
      text-shadow: none;
  }
  100% {
      transform: translateY(-50px) translateX(50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.text-shadow-drop-center {
	animation: text-shadow-drop-center 0.6s infinite both;
  color: #f48c06;
}


@keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }


  .focus-in-contract {
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 both;
    color: #d4a373;}

@keyframes focus-in-contract {
      0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0px);
        opacity: 1;
      }
    }
    



.text-shadow-drop-right {
animation: text-shadow-drop-right 0.6s infinite both;
  color: green;
  text-align: center;
  margin-top: 15px;
}

@keyframes text-shadow-drop-right {
  0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      text-shadow: 6px 0 18px rgba(0, 0, 0, 0.35);
  }
}

