/* Seteo del html */
html{
  scroll-behavior: smooth;
}

*{
  border-radius: 10px;
  box-sizing: border;
}
/* estilos del body */
body {
  background:linear-gradient(to top, #2f0059, #6F1E51, #833471 );
  font-size:1.3rem;
  line-height: 1.5;
  font-family:'Bebas Neue', cursive;
  color: white;
  margin: 20px 20px;}

/* Formato para imagenes */
.ciclo{
  margin:60px 250px 60px 350px;
  width: 350px;
  height: 350px;

}
/* Estilo para  el color de los links */
.linkcolor{
  color: magenta;
  font-weight: bold;
}
/* Estilos para el footer */
.img-extraf{
  display: flex;
  flex-flow: row wrap;
  align-content:space-around;
  justify-content:space-around;
  padding:10px; 

} 

/* Para el del ciclo del seo */
span{ 
  font-style: italic;
}

.span1{
  font-style: italic;
  color: coral;
}

/* Estilos para el formulario */
.form{
  width: 450px;
  margin: auto;
  background: rgb(14,164,129,087);
  box-sizing: border-box;
  border-radius: 10px;
}

input{
  margin: 10px;
}

/* Animaciones y transiciones de la segunda sección*/
.tracking-in-expand {
animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2 both;
color: deeppink;
}

@keyframes tracking-in-expand {
  0% {
          letter-spacing: -0.5em;
          opacity: 0;
  }
  40% {
      opacity: 0.6;
  }
  100% {
  opacity: 1;
  }
}
.text-pop-up-tr {
animation: text-pop-up-tr 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 both;
  text-align: center;
}

@keyframes text-pop-up-tr {
  0% {
      transform: translateY(0) translateX(0);
      transform-origin: 50% 50%;
      text-shadow: none;
  }
  100% {
      transform: translateY(-50px) translateX(50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.text-shadow-drop-center {
	animation: text-shadow-drop-center 0.6s infinite both;
  color: #f48c06;
}


@keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }


  .focus-in-contract {
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 both;
    color: #d4a373;}

@keyframes focus-in-contract {
      0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0px);
        opacity: 1;
      }
    }
    

/* Tamaño logo */
.logo_size{
  width: 75px;
  height: 75px;
}

.logo_size2{
  width: 350px;
  height: 350px;
}

/* Color de Titulos */
.Titulos{
    color: #d4a373;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

/* Estilo para el titulo del index */

.text-shadow-drop-right {
animation: text-shadow-drop-right 0.6s infinite both;
  color: green;
  text-align: center;
  margin-top: 15px;
}

@keyframes text-shadow-drop-right {
  0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      text-shadow: 6px 0 18px rgba(0, 0, 0, 0.35);
  }
}
/* Background color nav */
.colorbg{
  background-color: green;

}
/* Color para el mail en el footer */
mail_footer{
  color: white;

}
/*  Estilos para las imagnes del carrusel */
.carru_sel{
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
width: 80%;
}

/* TITULO DEL FORMULARIO */

.Consulta{
  text-align: center;
  color: green;
}

/* Estilos para la tabla */
table thead{
  background-color: rgb(12, 168, 72);
  
}
table tbody tr td {
  background-color: rgb(12, 168, 72);
  font-weight: lighter;
  border:black 3px solid;}

.margenes{
  margin-top: 25px;
  margin-bottom: 25px;
}