html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: white;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
  color: black; }

.navbar__colorbg {
  background-color: #b8b8ff;
  font-size: 1.8rem; }

.carru_sel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 75%; }

li ul a {
  font-size: 1.5rem; }

.link_color {
  color: #ED7D31;
  font-weight: bold;
  font-size: 2rem; }

.vi_deo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 100%; }

.div_footer {
  font-style: italic;
  font-size: 3rem; }

table thead {
  background-color: #0ca848; }

table tbody tr td {
  background-color: #0ca848;
  font-weight: lighter;
  border: black 3px solid; }

.form {
  width: 28rem;
  margin: auto;
  background: #b8b8ff;
  box-sizing: border-box;
  border-radius: 0.8rem;
  font-size: 2rem; }

.bt_bg {
  background-color: #ED7D31; }

.titulos_principal {
  color: green;
  text-align: center;
  font-size: 4rem;
  font-family: 'Lobster', cursive; }

.sub_titulo {
  color: indigo;
  text-align: start;
  font-family: 'Lobster', cursive;
  font-size: 3rem; }

.logo_size2 {
  width: 22rem;
  height: 22rem;
  border-radius: 5rem; }

.logo_size {
  width: 8rem;
  height: 8rem; }
