html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: white;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
  color: black; }

.navbar__colorbg {
  background-color: #b8b8ff; }

.logo_size2 {
  width: 350px;
  height: 350px; }

.carru_sel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 80%; }

li ul a {
  font-size: 1.5rem; }

.Titulos {
  color: green;
  font-family: "Lobster", cursive; }

.div_footer {
  font-style: italic;
  font-size: 30px; }

table thead {
  background-color: #0ca848; }

table tbody tr td {
  background-color: #0ca848;
  font-weight: lighter;
  border: black 3px solid; }

.form {
  width: 450px;
  margin: auto;
  background: #b8b8ff;
  box-sizing: border-box;
  border-radius: 10px; }

.redes__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 400px;
  height: 400px; }

.linkcolor {
  color: magenta;
  font-weight: bold; }

.img-extraf {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 10px; }

.logo_size {
  width: 75px;
  height: 75px; }

.logo_size2 {
  width: 250px;
  height: 250px;
  border-radius: 90px; }

.Titulos {
  color: #ff9f1a;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 24px; }

li ul a {
  font-size: 1.5rem; }
