html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    background:$colorFondo;
    font-size:2rem;
    line-height: 1.5;
    font-family:$fuentePrincipal;
    color:black;

}

.navbar__colorbg{
    background-color:#b8b8ff;
    font-size: 1.8rem;
}



.carru_sel{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 75%;
    }

    li ul a{
        font-size: 1.5rem;
    }


    .link_color{
        color: $resaltar;
        font-weight: bold;
        font-size: 2rem;
    }
    
    .vi_deo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        width: 100%;
        }