    .titulos_principal{
        color: $colorTitulos;
        text-align: center;
        font-size: 4rem;
        font-family:'Lobster', cursive;

    }
    
    .sub_titulo{
        color: indigo;
        text-align: start;
        font-family:'Lobster', cursive;
        font-size: 3rem;
    }