
//variables
$fuenteTitulos:'Lobster', cursive;
$fuentePrincipal:"Roboto Slab", serif;
$colorTitulos: green;
$colorFondo:white;
$resaltar:#ED7D31;

@import 'index';
@import 'titulos';
@import 'footer';
@import 'table-plandemarketing';
@import 'contacto';



.redes__img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 400px;
    height:400px;
}

.linkcolor{
    color: magenta;
    font-weight: bold;
}

.img-extraf{
    display: flex;
    flex-flow: row wrap;
    align-content:space-around;
    justify-content:space-around;
    padding:10px; 
}
.logo_size{
    width: 75px;
    height: 75px;
}

.logo_size2{
    width: 250px;
    height: 250px;
    border-radius: 90px;
}

.Titulos{
    color: #ff9f1a;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

li ul a{
    font-size: 1.5rem;
}