
//variables
$fuenteTitulos:'Lobster', cursive;
$fuentePrincipal:"Roboto Slab", serif;
$colorTitulos: green;
$colorFondo:white;
$resaltar:#ED7D31;

@import 'index';
@import 'footer';
@import 'table-plandemarketing';
@import 'contacto';
@import 'titulos-subtitulos';
@import 'logos';




