//variables
$fuenteTitulos:'Lobster', cursive;
$fuentePrincipal:'Bebas Neue', cursive;

$colorTitulos: green;
$colorFondo: (to top, #2f0059, #6F1E51, #833471 );
$resaltar: magenta;



body {
    background:linear-gradient($colorFondo);
    font-size:20px;
    line-height: 1.5;
    font-family:$fuentePrincipal;
    color: white;
    margin: 20px 20px;
}

    .Titulos{
        color: $colorTitulos;
        font-family: $fuenteTitulos;
    }
    

table{
        thead{
        background-color: rgb(12, 168, 72);
        
    }
        tbody tr td {
        background-color: rgb(12, 168, 72);
        font-weight: lighter;
        border:black 3px solid;}
}

.div_footer{
    font-style: italic;
    font-size: 30px;
}

.span{
    color: $resaltar;
    
}
.navbar__colorbg{
    background-color: $colorTitulos;
}

.consulta__titulo{
        text-align: center;
        color: green;
}

.redes__img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 400px;
    height:400px;
}

.footer__bg{
    background: linear-gradient(to top,#2d6a4f,#40916c,#52b788);
}

//Extend
.logo_size2{
    width: 350px;
    height: 350px;
}

.borde_logos{
    @extend .logo_size2;
    border: white 4px solid;
}

//Each
@each $size in 16px 18px {
    .tamanio-#{$size}{
        font-size: $size;
        font-style: italic;
        color:turquoise;
    }
}

// Condicionales

$fuente:$fuentePrincipal;

body{

@if($fuente== $fuentePrincipal){
    font-size: 20px;
}@else if($fuente== Arial, Helvetica, sans-serif){
    font-size:30px;
}@else{
    font: size 25px;
}

}

//mapeo

$fondo:(pm:#faa307, mk:#FF006E,cm:#70e000,seo:#9381ff);

@each $color, $back in $fondo {
    .btn-#{$color}{
        background-color: $back;
        border-radius: 20px;
    }
}